:root {
    --spacing: 1rem;

    --vertical-spacing: var(--spacing);
    --horizontal-spacing: var(--spacing);

    --reps-width: clamp(4ch, 3ch + 3vw ,7ch);
    --weight-width: 12ch;
    --exercise-name-width: clamp(var(--reps-width), 5ch + 5vw, 25ch);

    font-size: clamp(16px, 16px + .5vw, 24px);
    box-sizing: border-box;
}

body > main {
    display: flex;
    flex: 1;
    justify-content: center;
}

.workout h1 {
    font-size: 1.5rem;
    display: inline;
}

.workout sl-format-date {
    float: right;
}

.exercise-form:not(:first-child) {
    margin-top: var(--vertical-spacing);
}

.sets {
    display: flex;
    flex-direction: column;
    gap: var(--vertical-spacing);
}

.set {
    display: flex;
    gap: var(--horizontal-spacing);
}

.repss {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: var(--vertical-spacing);
    column-gap: var(--horizontal-spacing);
}

.reps {
    width: var(--reps-width);
}

.set [name='weight'] {
    width: var(--weight-width);
}

@media (max-width: 900px) {
    :root {
        --vertical-spacing: clamp(0.2rem, 0.1rem + 1vw, 1rem);
        --horizontal-spacing: calc(var(--spacing) * 0.4);
    }

    .workout sl-input {
        --sl-input-spacing-medium: var(--horizontal-spacing);
    }

}

.input-button sl-input {
    display: flex;
    flex-direction: row;
}

sl-input > sl-button {
    margin-inline-end: 0;
}

.controls :not(:first-child) {
    margin-top: var(--vertical-spacing);
}

.workout [slot='footer'] {
    display: flex;
    justify-content: end;
    gap: var(--spacing);
}

.workout {
    --sl-spacing-large: var(--vertical-spacing);
}