:root {
    --spacing: 1rem;

    --reps-width: clamp(5ch, 3ch + 3vw ,7ch);
    --weight-width: 12ch;
    --exercise-name-width: clamp(var(--reps-width), 5ch + 5vw, 25ch);

    box-sizing: border-box;
}

.workout {
    width: calc(2 * var(--sl-spacing-large) + var(--exercise-name-width) + var(--comment-width) + 4 * var(--set-element-size) + 5 * var(--spacing));
}

.workout h1 {
    /* text-align: center; */
    font-size: 1.5rem;
    display: inline;
}

.workout sl-format-date {
    float: right;
}

.exercise-form:not(:first-child) {
    margin-top: var(--spacing);
}

.sets {
    display: flex;
    flex-direction: column;
    gap: var(--spacing);
}

.set {
    display: flex;
    gap: var(--spacing);
}

.repss {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: var(--spacing);
}

.reps {
    width: var(--reps-width);
}

.set [name='weight'] {
    width: var(--weight-width);
}

@media (max-width: 800px) {
    :root {
        --spacing: clamp(0.1rem, 0.1rem + 1vw, 1rem);
    }

    .workout sl-input {
        --sl-input-spacing-medium: var(--spacing);
    }

    .hide-sm {
        display: none;
    }
}

.input-button sl-input {
    display: flex;
    flex-direction: row;
}

sl-input > sl-button {
    margin-inline-end: 0;
}

.repss {
}

.controls *:not(:first-child) {
    margin-top: var(--spacing);
}

.controls sl-button {
    width:
}